*{
    box-sizing: border-box;
    margin: 0%;
}
h1{
    text-align: center;
}
body
{
    background-color: lightblue;
}
form{
    text-align: center;
}
div{
    padding: 5%;
    border: 1px dotted blue;
}
label{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}